<header class="contenedor">
    <div class="logo">
        <img src="/RMA - SVG.svg" alt="logo-red-medical-advisor" width="140" height="140" />
    </div>
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/Clases">Clases</a>
        <a href="/Recursos">Recursos</a>
        <a href="/Foro">Foro</a>
        <a href="/Tutorias">Tutorias</a>
    </nav>
    <div class="us">
        <nav>
            <img src="/public/iconUser.svg" class="user-icon" onclick="toggleMenu()" />
            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="/public/iconUser.svg">
                        <div class="user-details">
                        <h2>ABDIEL AVILA NERI</h2>
                        <p class="user-email">abdiel@example.com</p>
                        </div> 
                    </div>
                    <hr>
                    <a href="EditPerfil" class="sub-menu-link">
                        <img src="/public/profile.png" class="small-icon"> 
                        <p>Mi Perfil</p>
                        <span></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="/public/logout.png" class="small-icon">
                        <p>Cerrar Sesión</p>
                        <span></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>


<style>
    .contenedor {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;
        height: 5rem;
        padding: 0rem 10rem;
        margin: auto;
    }
    .logo {
        display: flex;
        align-items: center;
        height: "120px";
    }
    .nav{
        display: inline-flex;
        align-items: center;
        justify-content: space-around; 
        margin-left: 6rem;
        gap: 3rem;
    }
    .nav a{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;       
        padding: 4px 14px;
    }
    a {
        text-decoration: none;
    }
    .user-icon{
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 30px;
    }
    .sub-menu-wrap{
        position: absolute;
        top: 100%;
        left: auto; 
        right: 0%;
        width: 280px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .sub-menu-wrap.open-menu{
        max-height: 400px;
    }
    .sub-menu{
        background: #fff;
        padding: 15px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    }
    .sub-menu hr{
        border: 0;
        height: 1px;
        width: 100%;
        background: #ccc;
        margin: 15px 0 10px;
    }
    .sub-menu-link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #525252;
        margin: 6px 0;

    }
    .sub-menu-link p{
        font-size: 14px;
    }
    .sub-menu-link img.small-icon {
        width: 30px; 
        border-radius: 50%; 
        padding: 5px; 
        margin-right: 10px; 
    }
    .sub-menu-link span{
        font-size: 22px;
        transition: transform 0.4s;
    }
    .sub-menu-link:hover {
        background-color: #f5f5f5;
        border-radius: 5px; 
    }
    .sub-menu-link:hover span{
        transform: translateX(5px);
    }
    .sub-menu-link:hover p{
        font-weight: 600;
    }
    .user-info{
        display: flex;
        align-items: center;
    }
    .user-details {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        max-width: 150px; 
    }
    .user-info h2{
        font-size: 18px; 
        font-weight: 600;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        max-width: 150px; 
    }
    .user-info p.user-email {
        font-size: 12px; 
        color: #888;
        margin-top: 2px; 
    }
    .user-info img {
        width: 50px; 
        border-radius: 50%;
        margin-right: 10px; 
    }
    .login {
        display: flex;
    }
    .us {
        display: flex;
        position: relative;
    }
    .in {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 500;
        height: 2.5rem;
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        transition: background-color 0.5s;        
        border: 1px solid #d1d5db;
        margin-right: 8px;
        padding: 0rem 1rem;
    }
    .reg {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 500;
        height: 2.5rem;
        border-radius: 8px;
        background-color: #ff3131;
        padding: 0rem 1rem;
        transition: background 0.5s;        
        color: white;
    }

    .in:focus-visible {
        outline: 2px solid #5a67d8; 
        outline-offset: 2px;
    }

    .in:disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .in:hover {
        background-color: #e2e8f0; 
        color: #482d2d; 
    }
    .reg:hover{
        background-color: #a72020;;
    }

    .nav a:after,
    .nav a:before {
        content: "";
        position: absolute;
        display: block;
        border: 0px solid transparent;
    }
    .nav a:after {
        width: 0%;
        height: 80%;
        border-bottom: 1px solid #000000;
        transition: all 0.6s ease;
        
        color: #961c1c;
    }

    .nav a:before {
        width: 120%;
        height: 0%;
        transition: all 0.6s ease;
    }

    .nav a:hover::before {
        height: 80%;
    }

    .nav a:hover::after {
        width: 100%;
    }
</style>

<script lang="ts">
    let subMenu = document.getElementById("subMenu");
    const userIcon = document.querySelector('.user-icon'); 

    function toggleMenu() {
        subMenu.classList.toggle("open-menu");
    }

 
    document.addEventListener("click", function(event) {
        if (!userIcon.contains(event.target) && !subMenu.contains(event.target)) {
            subMenu.classList.remove("open-menu");
        } else if (event.target.closest('.sub-menu-link')) {
            subMenu.classList.remove("open-menu"); 
        }
    });
</script>